In [46]:
import pandas as pd

In [47]:
data = pd.read_csv("spam2010global.csv/spam2010V2r0_global_P_TA.csv", header=0, index_col=False, encoding='latin1')

In [48]:
data.head()

,iso3,prod_level,alloc_key,cell5m,x,y,rec_type,tech_type,unit,whea_a,...,trof_a,temf_a,vege_a,rest_a,crea_date,year_data,source,name_cntr,name_adm1,name_adm2
0,ind,CH08078,4383640,1891479,123.291667,53.541667,P,A,mt,0.0,...,0.0,0.0,0.0,0.0,04/24/20 07:04:41 PM,avg(2009-2011),F avg2,China,Heilongjiang,Mohexian
1,CHN,CH08078,4393627,1895786,122.208333,53.458333,P,A,mt,0.0,...,0.0,0.0,0.0,0.0,04/24/20 07:04:41 PM,avg(2009-2011),F avg2,China,Heilongjiang,Mohexian
2,CHN,CH08078,4393628,1895787,122.291667,53.458333,P,A,mt,0.0,...,0.0,0.0,0.0,0.0,04/24/20 07:04:41 PM,avg(2009-2011),F avg2,China,Heilongjiang,Mohexian
3,CHN,CH08078,4393629,1895788,122.375000,53.458333,P,A,mt,18.3,...,0.0,0.0,0.0,0.0,04/24/20 07:04:41 PM,avg(2009-2011),F avg2,China,Heilongjiang,Mohexian
4,CHN,CH08078,4393637,1895796,123.041667,53.458333,P,A,mt,3.7,...,0.0,0.0,0.0,0.0,04/24/20 07:04:41 PM,avg(2009-2011),F avg2,China,Heilongjiang,Mohexian

In [49]:
sub = data[(data['y']>15) & (data['y']<25) & (data['x']>70) & (data['x']<80)]

In [50]:
sub.columns

Index(['iso3', 'prod_level', 'alloc_key', 'cell5m', 'x', 'y', 'rec_type',
       'tech_type', 'unit', 'whea_a', 'rice_a', 'maiz_a', 'barl_a', 'pmil_a',
       'smil_a', 'sorg_a', 'ocer_a', 'pota_a', 'swpo_a', 'yams_a', 'cass_a',
       'orts_a', 'bean_a', 'chic_a', 'cowp_a', 'pige_a', 'lent_a', 'opul_a',
       'soyb_a', 'grou_a', 'cnut_a', 'oilp_a', 'sunf_a', 'rape_a', 'sesa_a',
       'ooil_a', 'sugc_a', 'sugb_a', 'cott_a', 'ofib_a', 'acof_a', 'rcof_a',
       'coco_a', 'teas_a', 'toba_a', 'bana_a', 'plnt_a', 'trof_a', 'temf_a',
       'vege_a', 'rest_a', 'crea_date', 'year_data', 'source', 'name_cntr',
       'name_adm1', 'name_adm2'],
      dtype='object')

In [51]:
sub[sub['bana_a'] > 0].sort_values('bana_a')[['x', 'y', 'bana_a', 'name_cntr', 'name_adm1', 'name_adm2']]

                x          y    bana_a name_cntr       name_adm1   name_adm2
151773  79.125000  15.125000       2.6     India  Andhra Pradesh    Prakasam
109215  79.208333  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
109213  79.041667  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
109214  79.125000  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
108594  79.291667  24.875000       2.7     India  Madhya Pradesh   Tikamgarh
109216  79.291667  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
111687  78.958333  24.458333       2.7     India  Madhya Pradesh   Tikamgarh
109212  78.958333  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
109210  78.791667  24.791667       2.7     India  Madhya Pradesh   Tikamgarh
108592  79.125000  24.875000       2.7     India  Madhya Pradesh   Tikamgarh
111073  78.958333  24.541667       2.7     India  Madhya Pradesh   Tikamgarh
109840  79.125000  24.708333       2.7     India  Madhya Pradesh   Tikamgarh
108593  79.208333  24.875000       2.7     India  Madhya Pradesh   Tikamgarh
110458  79.041667  24.625000       2.7     India  Madhya Pradesh   Tikamgarh
110457  78.958333  24.625000       2.7     India  Madhya Pradesh   Tikamgarh
108588  78.791667  24.875000       2.7     India  Madhya Pradesh   Tikamgarh
114084  79.791667  24.125000       2.8     India  Madhya Pradesh       Panna
128127  74.625000  21.958333       2.9     India  Madhya Pradesh     Barwani
140964  78.625000  18.625000       3.3     India  Andhra Pradesh   Nizamabad
141505  78.458333  18.458333       3.3     India  Andhra Pradesh   Nizamabad
141218  78.041667  18.541667       3.3     India  Andhra Pradesh   Nizamabad
141223  78.458333  18.541667       3.3     India  Andhra Pradesh   Nizamabad
141224  78.541667  18.541667       3.3     India  Andhra Pradesh   Nizamabad
141503  78.291667  18.458333       3.3     India  Andhra Pradesh   Nizamabad
140963  78.541667  18.625000       3.3     India  Andhra Pradesh   Nizamabad
142340  78.041667  18.208333       3.3     India  Andhra Pradesh   Nizamabad
142339  77.958333  18.208333       3.3     India  Andhra Pradesh   Nizamabad
142617  77.958333  18.125000       3.3     India  Andhra Pradesh   Nizamabad
142618  78.041667  18.125000       3.3     India  Andhra Pradesh   Nizamabad
142061  78.041667  18.291667       3.3     India  Andhra Pradesh   Nizamabad
...           ...        ...       ...       ...             ...         ...
139029  73.041667  19.208333  108802.9     India     Maharashtra       Thane
147183  74.541667  16.708333  111330.1     India     Maharashtra    Kolhapur
137921  74.541667  19.541667  112623.4     India     Maharashtra  Ahmednagar
149319  73.541667  16.041667  113449.5     India     Maharashtra  Sindhudurg
138752  72.791667  19.291667  114266.5     India     Maharashtra       Thane
142574  74.375000  18.125000  115439.0     India     Maharashtra        Pune
141176  74.541667  18.541667  115439.0     India     Maharashtra        Pune
142848  74.541667  18.041667  115439.0     India     Maharashtra      Satara
142849  74.625000  18.041667  115439.0     India     Maharashtra      Satara
139835  73.041667  18.958333  116805.8     India     Maharashtra     Raigarh
146902  74.625000  16.791667  119400.6     India     Maharashtra      Sangli
138466  72.875000  19.375000  120933.9     India     Maharashtra       Thane
137078  74.375000  19.791667  121070.2     India     Maharashtra  Ahmednagar
137355  74.541667  19.708333  121070.2     India     Maharashtra  Ahmednagar
137922  74.625000  19.541667  121070.2     India     Maharashtra  Ahmednagar
147184  74.625000  16.708333  123049.0     India     Maharashtra    Kolhapur
141175  74.458333  18.541667  124798.9     India     Maharashtra        Pune
139303  73.041667  19.125000  129914.8     India     Maharashtra       Thane
141174  74.375000  18.541667  134158.8     India     Maharashtra        Pune
146350  74.625000  16.958333  139300.8     India     Maharashtra      Sangli
140363  72.958333  18.791667  140735.0     India     Maharashtra     Raigarh
140896  72.958333  18.625000  141224.9     India     Maharashtra     Raigarh
140090  73.041667  18.875000  142529.7     India     Maharashtra     Raigarh
140089  72.958333  18.875000  178650.0     India     Maharashtra     Raigarh
140633  73.041667  18.708333  236640.6     India     Maharashtra     Raigarh
148823  73.458333  16.208333  248161.2     India     Maharashtra  Sindhudurg
140364  73.041667  18.791667  282305.0     India     Maharashtra     Raigarh
147731  73.375000  16.541667  311752.8     India     Maharashtra   Ratnagiri
138186  72.791667  19.458333  390027.9     India     Maharashtra       Thane
138465  72.791667  19.375000  392906.7     India     Maharashtra       Thane

[3023 rows x 6 columns]